body {
    background-color: #666;
    color: #white;
    font-family: 'Roboto', sans-serif;
}
header {
    margin-top: 5%;
}


nav {
    margin-bottom: 3%;
}

/**************************************DROP DOWNS***************************************/
.ddMenus {
    background-color: #666;
    width: 25%;
    padding: 2%;
    margin-top: 1%;
    color: red !important;
}

/*changes the color of the list contents*/
ul.dropdown-content.select-dropdown li span {
    color: pink;
}



/**************************************EXTRA***************************************/
#circle{
    width: 80px;
    height: 80px;
    display: inline-block;
    border-radius: 50%;
    text-align: center;
    margin: 5%;
}



/**************************************BOOTSTRAP NAVIGATION***************************************/
/*.navbar {*/
    /*padding: 2%;*/
/*}*/


/*.btn {*/
    /*background-color: #666;*/
    /*border: none;*/
/*}*/

/*.btn:hover {*/
    /*background-color: white;*/
    /*color: #666;*/
/*}*/
/*.navbar-custom {*/
    /*background-color:white;*/
    /*color: #666;*/
/*}*/

/*.navbar-custom:hover {*/
    /*color: #666;*/
/*}*/




